* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


section {
    height: 100vh;
}

body {
    background-color: #ffff;
}

header {
    padding: 10px;
    background-color: #3E5962;
}

header h1 {
    text-align: center;
}

nav {
    padding: 10px;
    background-color: #3E5962;

    margin-left: 50px;
    margin-right: 50px;
    height: 80px;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}


/* HOVER ANIMATIONS */
a:link,
a:visited {
    background-color: none;
    color: #D0FCEC;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;

}




.search {
    --padding: 14px;

    margin: auto;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.25)
}


/* BODY */


/* NOW PLAYING */
.boxes {
    display: flex;
}

.box1 {
    margin: 30px;
    width: 80vh;
    height: 90vh;
    background-color: #dadada;
    border-radius: 25px;
    position: relative;

}


/* BEST SELLING #1 */
.bs1 img {
    position: absolute;
    padding: 10px;
    width: 20vh;
}

.bs1content {
    position: absolute;
    padding-top: 10vh;
    padding-left: 20vh;
}

.titlebs1 h1 {
    text-align: center;
    padding: 10px;
}


/* BEST SELLING #2 */
.bs2 img {
    position: absolute;
    padding: 10px;
    width: 25vh;
    padding-top: 30vh;
    padding-left: 10vh;
}

.bs2content {
    position: absolute;
    padding-top: 35vh;
    padding-left: 25vh;
}

.titlebs2 h1 {
    text-align: center;
    padding: 10px;
}


/* BEST SELLING #3 */
.bs3 img {
    position: absolute;
    padding: 10px;
    width: 25vh;
    padding-top: 50vh;
    padding-left: 10vh;
}

.bs3content {
    position: absolute;
    padding-top: 55vh;
    padding-left: 25vh;
}

.titlebs3 h1 {
    text-align: center;
    padding: 10px;
}




/* NON-FICTON */

.box2 {
    margin: 30px;
    width: 80vh;
    height: 90vh;
    background-color: #dadada;
    border-radius: 25px;
    position: relative;


}


/* NF #1 */
.nf1 img {
    position: absolute;
    padding: 10px;
    width: 20vh;
}

.nf1content {
    position: absolute;
    padding-top: 10vh;
    padding-left: 20vh;
}

.titlebs1 h1 {
    text-align: center;
    padding: 10px;
}


/* NF #2 */
.nf2 img {
    position: absolute;
    padding: 10px;
    width: 25vh;
    padding-top: 30vh;
    padding-left: 10vh;
}

.nf2content {
    position: absolute;
    padding-top: 35vh;
    padding-left: 25vh;
}

.titlenf2 h1 {
    text-align: center;
    padding: 10px;
}


/* NF3 */
.nf3 img {
    position: absolute;
    padding: 10px;
    width: 25vh;
    padding-top: 52vh;
    padding-left: 10vh;
}

.nf3content {
    position: absolute;
    padding-top: 55vh;
    padding-left: 25vh;
}

.titlebs3 h1 {
    text-align: center;
    padding: 10px;
}





/* Recommendation */

.box3 {
    margin: 30px;
    width: 80vh;
    height: 90vh;
    background-color: #dadada;
    border-radius: 25px;
    position: relative;

}

/* NF #1 */
.rm1 img {
    position: absolute;
    padding: 10px;
    width: 20vh;
}

.rm1content {
    position: absolute;
    padding-top: 10vh;
    padding-left: 20vh;
}

.titlerm1 h1 {
    text-align: center;
    padding: 10px;
}


/* NF #2 */
.rm2 img {
    position: absolute;
    padding: 10px;
    width: 25vh;
    padding-top: 30vh;
    padding-left: 10vh;
}

.rm2content {
    position: absolute;
    padding-top: 35vh;
    padding-left: 25vh;
}

.titlerm2 h1 {
    text-align: center;
    padding: 10px;
}


/* NF3 */
.rm3 img {
    position: absolute;
    padding: 10px;
    width: 25vh;
    padding-top: 52vh;
    padding-left: 10vh;
}

.rm3content {
    position: absolute;
    padding-top: 55vh;
    padding-left: 25vh;
}

.titlerm3 h1 {
    text-align: center;
    padding: 10px;
}




/* FOOTER */


footer {
    background: #111;
    height: 190px;
    width: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #FFF;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: auto;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: #000;
    width: auto;
    height: 60px;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* ABOUT US */

#boxes {
    height: 80vh;

}

.about1 {
    margin: 30px;
    width: 80vh;
    height: 70vh;
    margin-left: 60vh;
    
    background-color: #dadada;
    border-radius: 25px;
    text-align: center;


}

.about1 h1  {
    padding: 50px;
}

.about1 p {
    padding: 50px;
}

/* CONTACTS */


#contactbox {
    height: 50vh;

}

.contacts1 {
    margin: 15vh;
    width: 80vh;
    height: 40vh;
    margin-left: 60vh;

    background-color: #dadada;
    border-radius: 25px;
    text-align: center;


}

.contacts1 h1 {
    padding: 50px;
    font-size: 40px;
}

.contacts1 p {
    padding: 20px;
    font-size: 20px;
}